/* スペック */
.solar-time_contents {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 50px;
}

/*入力テーブル*/
.time-form_contents {
  margin: 0 auto;
}

.time-table {
  margin: 0 auto;
}

.time-table td {
  padding: 10px;
}

.time-table h3 {
  text-align: left;
  padding-right: 30px;
  white-space: nowrap;
}

.time_btn input,
.reset_btn input {
  padding: 5px 50px;
  margin-bottom: 20px;
  cursor: pointer;
}

.return-link {
  margin-top: 30px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .time-table h3 {
    padding-right: 20px;
  }
}
